*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#fff;
  color:#111;
}

/* NAVBAR */
nav{
  max-width:1100px;
  margin:20px auto;
  background:#f9fafb;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 20px;
  border-radius:20px;
  border:1px solid #ddd;
}

ul{
  display:flex;
  list-style:none;
  gap:22px;
}

.btn{
  background:#2f80ed;
  border:none;
  color:white;
  padding:8px 14px;
  border-radius:14px;
}

/* HERO */
.hero, .tools{
  max-width:800px;
  margin:80px auto 40px;
  text-align:center;
}

.tag{
  font-size:14px;
  color:#666;
}

h1{
  font-size:48px;
  margin:10px 0;
}

.desc{
  font-size:16px;
  color:#444;
}

/* LIST */
.list{
  margin-top:20px;
  text-align:left;
}

.list li{
  margin-bottom:15px;
}

/* IMAGE */
.hero-img{
  width:90%;
  max-width:650px;
  display:block;
  margin:40px auto;
  border-radius:16px;
  box-shadow:0 2px 6px rgba(0,0,0,.4);
}

/* MOBILE */
@media(max-width:768px){
  nav{
    flex-direction:column;
    gap:10px;
  }
  ul{
    flex-wrap:wrap;
    justify-content:center;
  }
  h1{
    font-size:28px;
  }
}